
body {
    background-image: url('http://localhost:8000/media/snow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    margin-top: 5%;
}
.app-form{
    width: 80%;
    margin: 0 auto;
}
.app-form h1 {
    text-align: center;
    color: #0d6efd;
}

.entryHolder {
    text-align: center;
    margin: 20px;
}
.data_content{
    display: flex;
    justify-content: center;
}

