@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

// Styling Variables

$defaultFont: 'Roboto Condensed', sans-serif;
$lightBlue: #03A9F4;
$midGrey: #aaa;
$lightGrey: #F9F9F9;
$white: #fff;
$mentGreen : #00abad;
$warning : #D8000C;


// Main Structure

html {
    scroll-behavior: smooth;

    body {
        font-family: $defaultFont;
        background-color: $lightGrey;
        padding: 0;
        margin: 0;
        max-width: 100%;
        overflow-x: hidden;

        a {
            color: $lightBlue;
            transition: 0.3;
        
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

//  header section

header {
    text-align: center;
    padding-top: 20px;
       .header-line {
        font-family: 'Architects Daughter', cursive;
        display: block;
        color: $lightBlue;
        font-size: 30px;
        letter-spacing: 35px;
        margin-bottom: 2%;
        animation: moveInLeft 2s ease-out;
      }
      .header-line2 {
        font-family: 'Architects Daughter', cursive;
        font-size: 20px;
        display: block;
        color: $lightBlue;
        animation: moveInRight 3s ease-out;
      }
      img {
          width: 300px;
          height: 300px;
      }
}

  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-150px);
    }
    
    80% {
      transform: translateX(10px);
    }
    
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  @keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(150px);
    }

    80% {
        transform: translateX(-10px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }

}

// form section

.wrapper {
    max-width: 800px;
    margin: 10px auto ;
    box-shadow: 0 2px 6px $midGrey;
}

.wrapper form {
    padding: 30px 50px
}

.wrapper form .form-group {
    padding-bottom: .5rem
}

.wrapper form .form-control {
    outline: none;
    border: none
}

.wrapper form .form-control:focus {
    box-shadow: none
}

.wrapper form input[type="date"]:focus::placeholder {
    color: transparent
}
.wrapper form input[type="number"]:focus::placeholder {
    color: transparent
}
.wrapper form textarea[type="text"]:focus::placeholder {
    color: transparent
}

input[type="date"] {
    cursor: pointer
}

.wrapper form .label::after {
    position: absolute;
    top: 5px;
    left: 0px;
    font-size: 0.9rem;
    margin: 0rem 0.4rem;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    font-weight: 600;
    color: #999;
    transition: all .2s ease-in-out;
    transform: scale(0)
}


.wrapper form .label#Destination::after {
    content: 'Destination'
}

.wrapper form .label#depart::after {
    content: 'Depart Date'
}

.wrapper form .label#return::after {
    content: 'Return Date'
}

.wrapper form .label#psngr::after {
    content: 'Travellers (Optional)'
}
.wrapper form .label#notes::after {
    content: 'Notes (Optional)'
}

.wrapper form input[type="text"]:focus~.label::after {
    top: -15px;
    left: 0px;
    transform: scale(1)
}

.wrapper form input[type="date"]:focus~.label::after {
    top: -15px;
    left: 0px;
    transform: scale(1)
}
.wrapper form input[type="number"]:focus~.label::after {
    top: -15px;
    left: 0px;
    transform: scale(1)
}
.wrapper form textarea[type="text"]:focus~.label::after {
    top: -15px;
    left: 0px;
    transform: scale(1)
}

.feedback {
  position:absolute ;
  top: 40px;
  left: 10px;
  color: $warning;
  display: none;
}
.dist{
  top:45px;
}

.margin {
    margin: 2rem 0rem
}
.btn-div {
    display: flex;
    justify-content: space-between;
}
.loading {
    display: none;
    align-items: center;
    color: $lightBlue;
    span {
        margin: 0 20px;
    }
}
.btn-outline-primary {
    color: $lightBlue;
    border-color: $lightBlue;
}
.warrning-mesg {
    display: none;
    text-align: center;
    background: $warning;
    color: #fff;
    padding: 10px;
}
.active {
    display: flex;
}
.inValid{
  display: block;
}



// footer section
.footer-distributed {
    background-color: $midGrey;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
    .footer-left p {
        color: $lightBlue;
        font-size: 14px;
        margin: 0;
        a {
            color: $white;
            margin: 0 5px;
            text-decoration: none;
        }
      }
      p.footer-links {
        font-size: 18px;
        font-weight: bold;
        color: $white;
        margin: 0 0 10px;
        padding: 0;
        transition: ease .25s;
      }
      p.footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
        transition: ease .25s;
      }
      .footer-links a:before {
        content: "·";
        font-size: 20px;
        left: 0;
        color: $white; 
        display: inline-block;
        padding-right: 5px;
      }
      .footer-right {
        float: right;
        margin-top: 6px;
        max-width: 180px;
      }
      .footer-right a {
        display: inline-block;
        width: 35px;
        height: 35px;
        border-radius: 2px;
        font-size: 14px;
        color: $white;
        text-align: center;
        line-height: 35px;
        margin-left: 3px;
        transition:all .25s;
      }
      .footer-right a:hover {
        transform:scale(1.1); 
        -webkit-transform:scale(1.1);
      }
    
  }

//   modal section 

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: $lightGrey;
    margin: auto;
    padding: 20px;
    border: 1px solid $midGrey;
    width: 80%;
  }
  .close {
    color: $midGrey;
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
 
  .dest-name {
    text-align: center;
    margin: 10px;
    font-size: 36px;
    color: $mentGreen;
    font-weight: 400;
    font-family: 'Architects Daughter', cursive;
  }
 .country-wrapper {
  box-shadow: 0 4px 8px 0 $midGrey;
  transition: 0.3s;
  padding: 0;
   img {
     width: 100%;
   }
  }
 .country-wrapper:hover {
  box-shadow: 0 8px 16px 0 $midGrey;
 }
 .country-info {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
 }
 .heading {
  margin: 10px;
  font-size: 24px;
  color: $mentGreen;
  font-weight: 400;
  font-family: 'Architects Daughter', cursive;
 }

 .info {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  color: $lightBlue;
 }

.dates-wrapper {
  padding-right: 0;
}

.card-info {
  box-shadow: 0 4px 8px 0 $midGrey;
  transition: 0.3s;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.card-info:hover {
  box-shadow: 0 8px 16px 0 $midGrey;
}


//  weathe info
.head-line{
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  color: $mentGreen;
  font-weight: 400;
  font-family: 'Architects Daughter', cursive;
}
.weather-wrapper {
  padding: 50px 50px 0;
  overflow: auto;

  .weather-message{
    text-align: center;
    background: #D8000C;
    color: #fff;
    padding: 10px;
    margin: 30px;
  }

  .weather-card {
      width: 20%;
      float: left;
      text-align: center;

      img {
          width: 80px;
      }

      .temp {
          color: $lightBlue;
          font-size: 0.8em;
      }
      .temp-date {
          font-weight: bold;
          color: $mentGreen;
          padding: 15px 0;
      }
  }
}





  
      
  /* Media Queries */

  @media(max-width: 380px) {
    .weather-card {
      width: 50% !important;
    }
}

  @media(max-width: 575.5px) {
    .wrapper {
        margin: 10px
    }
    .modal-content {
      width: 100% !important;
    }

    .wrapper form {
        padding: 20px
    }

    .margin {
        margin: .2rem 0rem
    }
}

@media (max-width: 600px) {
  .weather-card {
    width: 33% !important;
  }
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}

  @media (max-width : 1100px) {
    .modal-content {
      width: 90%;
    }
    .country-info{
      flex-direction: column;
      text-align: center;
    }
  }

  
  
 